= bootstrap_form_tag form_opts.merge(:html => {:id => 'payload-match-rule-form'}) do |f|
  = f.text_field :name, :value => @rule ? @rule.name : nil
  = f.text_field :description, :value => @rule ? @rule.description : nil
  = f.text_field :payload_key, :value => @rule ? @rule.payload_key : nil, :help => 'Snake cased key using double-underscore (__) to indicate Hash'
  = f.submit 'Save', :disable_with => 'Saving...', :class => 'btn btn-success'
