= bootstrap_form_tag form_opts.merge(:html => {:id => 'route-form'}) do |f|
  = f.text_field :name, :value => @route ? @route.name : nil, :disabled => !!@route, :autofocus => true
  = f.text_field :description, :value => @route ? @route.description : nil

  %fieldset#route-builder
    %legend
      Route
    #route-collection.route-sort
      = render :partial => 'route_collection', :locals => {:route_items => @route ? @route.route_list : []}

  %fieldset#configurators
    %legend
      Rules
    #configurators-collection.config-sort
      = render :partial => 'configurator_collection', :locals => {:configurator_items => @route ? @route.route_configs : []}

  %button#route-save.btn.btn-success.pull-right
    Save
  .clearfix

#config-template.hidden
  .col-md-3.sortable.config-item
    .panel.configurator-item.panel-info{'id' => "configurator-template", 'data-configurator-name' => 'unset'}
      %input{:type => 'hidden', :name => 'description', :value => '', :class => 'description'}
      .panel-body
        %i.fa.fa-close.pull-right.config-item-delete
        .row
          .col-md-2
          .col-md-8
            .colorize.text-info
              %center
                .fa.fa-book.fa-4x
              %center.configurator-name
                Unset
          .col-md-2
#config-namer-template.hidden
  .configurator-namer
    %input{:type => 'text', :name => 'new-name', :class => 'form-control'}
  %br
  .configurator-name-saver
    %button.btn.btn-success.pull-right
      Create
    .clearfix
