:ruby
  srv_name = srv.respond_to?(:display_name) ? srv.display_name : srv.name
  srv_icon = srv.respond_to?(:icon) ? srv.icon || 'cog' : 'cog'
  icon_size = 4
.panel.service-route-panel.service-route-item.panel-info{:id => "service-route-#{srv.name}-#{type}", 'data-service-name' => srv.name}
  .panel-body
    %i.fa.fa-close.pull-right.route-item-delete{:style => 'color: darkred'}
    .row
      .col-md-2
      .col-md-8
        .colorize.text-info
          %center
            .fa.service-config-icon{:class => "fa-#{srv_icon} fa-#{icon_size}x"}
          %center
            = srv_name.humanize
      .col-md-2
