- content_for(:delete) do
  %span.glyphicon.glyphicon-trash
- content_for(:heading_title) do
  = "Edit Custom Route - #{@route.name}"
  = link_to(yield(:delete), route_path(@route.id), :class => 'btn btn-xs btn-danger pull-right', :method => :delete, :remote => true)
  .clearfix

:ruby
  id = 'edit-custom-route'
  content_for(:container) do
    render(
      :partial => 'layouts/panel',
      :locals => {
        :id => id,
        :heading => yield(:heading_title),
        :panel_content => render(
          :partial => 'form',
          :locals => {
            :form_opts => {
              :url => route_path(@route.id),
              :method => :put
            }
          }
        )
      }
    )
  end

= render(:partial => 'layouts/container', :locals => {:container_class => "#{id}-form", :container_id => id})
