- content_for(:heading_title) do
  = "Custom Routes for: #{@account.name}"
  = link_to('Create', new_route_path, :class => 'btn btn-sm btn-success pull-right')
  .clearfix

:ruby
  id = 'custom-routes'
  content_for(:container) do
    render(
      :partial => 'layouts/panel',
      :locals => {
        :id => id,
        :heading => yield(:heading_title),
        :panel_content => render(
          :partial => 'layouts/table',
          :locals => {
            :header_data => ["Custom Routes for: #{@account.name}"],
            :data => @routes.map{|route|
              [
                link_to(route.name, edit_route_path(route.id)),
                link_to(
                  yield(:delete_icon),
                  route_path(route.id),
                  :remote => true,
                  :method => :delete,
                  :class => 'pull-right'
                )
              ]
            }
          }
        )
      }
    )
  end

= render(:partial => 'layouts/container', :locals => {:container_class => "#{id}-list", :container_id => id})
