- dom_id = "G#{SecureRandom.uuid}"
%h4 Last 7 days: #{@jobs_summary.values.sum} jobs total
%div{:id => dom_id}
%h4 Latest
%table.table.table-hover
  %thead
    %tr
      %th Repository
      %th SHA
      %th Status
      %th Created
  %tbody
  - @recent.each do |job|
    %tr.linked{ :colspan => 5, :class => (job.status == :error ? 'danger' : ''), :href => pipeline_job_path(job.message_id)}
      %td= job.payload.fetch(:data, :github, :repository, :name, 'Unknown')
      %td= job.payload.fetch(:data, :github, :head_commit, :id, 'Unknown').slice(0, 7)
      %td= job.status
      %td
        %span{ "title" => "#{job.created_at.strftime('%Y/%m/%d %H:%M:%S')}" }=(time_ago_in_words(job.created_at) + ' ago')
:javascript
  $(document).ready(function(){
    #{
      graph_generate(
        dom_id,
        :size => {
          :height => 100
        },
        :line => {
          :label => {
            :show => false
          }
        },
        :data => {
          :type => 'donut',
          :columns => @jobs_summary.map{|k,v|
            [k, v]
          },
          :names => Hash[
            @jobs_summary.keys.map{|k|
              [k.to_s, k.to_s.humanize]
            }
          ],
          :colors => {
            'complete' => 'green',
            'error' => 'red',
            'in_progress' => 'gray'
          }
        }
      )
    }
  });
